
        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/glaylson" target= "_blank" >GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/glaylson-alves-69382278/" target= "_blank" >Linkedin</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      
      